# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/*
!/media/crochet_images/
/media/crochet_images/*
!/media/crochet_images/logo.png
!/media/crochet_images/pinkskirt.jpg
!/media/crochet_images/creator.jpg
!/media/crochet_images/reviewer1.jpg
!/media/crochet_images/reviewer2.jpg
!/media/crochet_images/reviewer3.jpg
!/media/crochet_images/explore_bg.jpg
/static

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
