# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/crochet_images/*
!/media/crochet_images/pinkskirt.jpg
!/media/crochet_images/lacehandwarmer.jpg
!/media/crochet_images/redrosebouquet.jpg
/media/site_images/*
!/media/site_images/knotiquelogo.png
!/media/site_images/creator.png
!/media/site_images/reviewer1.png
!/media/site_images/reviewer2.png
!/media/site_images/reviewer3.jpg
!/media/site_images/background.jpg
/static

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
